

/* reset */
body,h1,h2,h3,h4,h5,h6,ul,dl,dd,p,form,input{ margin: 0; padding: 0; }
img{ border: none; vertical-align: top; }
li{ list-style: none; }
ul{ overflow: hidden;}
a{ text-decoration: none; }
body{ font-family: '微软雅黑' }
/* end reset */

/* public */
header{ width: 1200px; height: 87px; margin: 0 auto; padding-top: 24px; position: relative;  }
#scroll{ width: 1348px; height: 83px; border-bottom: 1px solid #f2f2f2; }
#main{ width: 1348px; height: 1042px; }
footer .wf{ width: 1348px; height: 437px; background: #edf7ff; }
#lyzx{ height: 429px; width: 1348px; }
#lyzx .top{ height: 63px; width: 1150px; }
#rmzx{ width: 1146px; height: 182px; }
#list{ height: 234px; padding: 0 76px; }
footer .img{ width: 1348px; height: 53px; }
footer .b-img{ height: 185px; }
/* end public */

/* layout */
header h2{ width: 240px; height: 58px; background: url(../img/logo2.png) no-repeat; float: left; }
header ul{ width: 720px; height: 58px; line-height: 58px; position: relative; left:50px;}
header ul li{ display: inline-block; }
header ul li:after{ content: "|"; margin: 0 4px; }
header ul li.last:after{ display: none; }
header ul li a{ color: #2a2c27; font-size: 19px; }
header .tel{ position: absolute; top: 24px; right: 0; }

#scroll .sc{ width: 706px; height: 83px; line-height: 83px; }
#scroll .sc h2{ width: 60px; height: 33px; border-right: 1px dotted #217ab4; }
/* end layout */